.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  margin: 0;
  padding: 0;
  background-color: #1A1A1A; /* Same as your header background color */
  font-family: 'Inter', sans-serif;
}

.columns {
  display: flex;
  justify-content: space-between;
  align-items: center; /* This will center the columns vertically */
  height: 100vh; /* This will make the container take the full height of the viewport */
  padding: 20px;
}

.left-column {
  background-color: #1A1A1A;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-left: 100px; /* Add right margin to the left column */
}

.right-column {
  background-color: #1A1A1A;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-right: 100px;
}

/* Media query for screens smaller than 600px */
@media (max-width: 600px) {
  .right-column {
    margin-right: 0; /* Remove the right margin */
    margin-left: 0; /* Remove the left margin if any */
    align-items: center; /* Center the items horizontally */
  }
}

.middle-column {
  flex: 3;
  background-color: #282c34;
  color: white;
  padding: 20px;
  margin-right: 50px;
  box-sizing: border-box;
  border: 1px solid #FFFFFF; /* Add a border */
}

@media (max-width: 768px) {
  .columns {
    flex-direction: column;
  }

  .left-column, .middle-column, .right-column {
    flex: none;
    margin-bottom: 20px;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.box {
  position: relative;
  width: 300px;
  height: 300px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 20px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  color: #F5F5F5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.left-column, .right-column {
  background-color: #1A1A1A;
  position: relative;
}